@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");

nav.navbar {
  background: linear-gradient(180deg, #f7c82d 0%, #b67109 100%);
}

.navText {
  font-family: "Galada", cursive;
}

.navbuttons {
  color: black;
  font-weight: bolder;
}

.router-link-exact-active {
  position: relative;
  font-weight: 900;
  color: black;
  opacity: 100%;
}
