.giglist.card,
.gigsetlist.card,
.setlistsongs.card,
.allsetlists.card,
.addsongs.card,
.lyrics.card {
  border-radius: 0px;
  border: solid 10px #b3b3b3;
  outline: solid 2px #e0e0e0;
}

.gigtext {
  margin-top: 40px;
}

.gigInput,
.setlistInput,
.artistInput,
.songInput {
  margin: 10px 0px 10px;
}

Button.LaunchBtn,
Button.btn {
  background: linear-gradient(180deg, #f7c82d 0%, #b67109 100%);
  color: Black;
  font-weight: 500;
}

input#songInput.form-control,
input#artistInput.form-control,
input.form-control {
  border: solid 1px black;
}
